.login-page { 
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-container {
  width: 100%;
  max-width: 400px;
}

.login-card { 
  background: rgb(249, 231, 246);
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); 
  margin-top: 40%;
}

.login-title {
  font-size: 1.8rem;
  text-align: center;
  color: rgb(23, 1, 11);
  font-family: 'Lora', serif;
}

.input-item {
  --background: transparent;
  --placeholder-color: #ff8a00;
  
  ion-label {
    color: rgb(135, 11, 85);
  }

  ion-input {
    color: #333;
  }
}

.login-button {
  --background: rgba(200, 14, 95, 0.466);
  --border-radius: 8px;
  margin-top: 15px;
}

.register-button {
  color: #e52e71;
  text-transform: uppercase;
  margin-top: 10px;
}

.forgot-password {
  text-align: center;
  margin-top: 10px;

  a {
    color: darkred;
    text-decoration: underline;
  }
}

.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.logo {
  width: 120px;
  height: auto;
  animation: bounce 2s ease infinite;
}

@keyframes bounce {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
